/*MAIN*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
}


/*BODY*/
body {
    /*background: linear-gradient(to right top, #0dd3ff, #0389ff, #1c79c0);*/
    min-height: 100vh;
    height: 100%;
    
}
.page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
}


/*HEADER*/
header {
    /*шапка не прокручивается*/
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: center;
}

/*CONTENT*/
.content {
    width: 90%;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    width: 50%;
    height: 10vh;
    padding: 5px 5px;
}
.textarea_context {
    width: 100%;
    height: 40vh;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 16px;
    margin-top: 20px;
    border-color: #bfbfbf;
}
.textarea_question {
    width: 100%;
    height: 10vh;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-color: #bfbfbf;
}
.textarea_answer {
    width: 100%;
    height: 10vh;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-color: #bfbfbf;
}
textarea:focus { 
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

/*FOOTER*/
footer {
    height: 60px;
    position: bottom;
    bottom: 0;
    background-color: darkgrey;
    flex-grow: 0;
}
